@model Cadeteria.Models.CadeteModel;
@{
    ViewData["title"] = "Pagina para ingreso de cadete";
}

<h1 class="text-center">Ingresar cadete</h1>
<form asp-controller="Cadete" asp-action="IngresaCadete" method = "POST">
    <fieldset>
        <legend class="">Registrar un Cadete</legend>
        <div class="input-group-sm">Nombre:<input type="text" name="nombre" required></div>
        <div class="input-group-sm">Telefono:<input type="number" name="telefono" required></div>
        <div class="input-group-sm">Cobro de jornal:<input type="number" step="0.01" name="jornal" required></div>
        <div class="input-group-sm">Direccion:<input type="text" name="direccion" required></div>
        <div class="input-group-sm"><input type="submit" name="btnSubmit" value="Enviar"><br/><input type="reset" name="btnRestart" value="Borrar"></div>
    </fieldset>
        
</form>
